# ---- .NET / Visual Studio ----
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/
*.swp
*.bak
*.log

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

# ASP.NET
wwwroot/node_modules/
wwwroot/lib/


# ---- Angular / Node ----
node_modules/
dist/
tmp/
package-lock.json
.env
*.tsbuildinfo

# IDE & OS
.DS_Store
Thumbs.db
client/node_modules/
client/dist/
